<div class="cl">
  Best Network
  Type of Network:Jio is the only network which offers advanced 4G LTE technology on all its sites. Jio is also the only network in the country which offers VoLTE technology for voice calling on all of its sites.
  Width of the Network/ Number of base stations: Jio has approximately 5.32 lakh 4G LTE network base stations and covers more than 95% of India’s population. The number of base stations clearly establish that Jio is the widest operator in terms of number of base stations.
  Quality of the Network/Speed: TRAI’s My Speed application, which is a crowd sourced application testing speed of network and which does not engage with any operator on commercial basis, has consistently reported Jio to be the fastest network operator, since Jio’s commencement  of services.
  Best Network ranking: Jio's contribution in bringing India at the forefront in global ranking has been acknowledged by various officials and dignitaries including recent statement at the Mobile World Congress (“MWC”)[1], a prestigious and world renowned industry platform involving participation of various operators across the world, where Jio won 'Best Mobile Operator Service for consumers'.
</div>

