<div class="cd">
  A connection for all
  Bharti Airtel Limited is a leading telecommunication company globally. Headquartered in New India, we are the most trusted provider of ICT services with a global network across the USA, Europe, Africa, Middle East, Asia-Pacific, India, and SAARC regions. Airtel Telecommunications ranks amongst the top 3 mobile service providers around the world (as per subscribers)

  Through the diverse product portfolio and strategically located submarine cables and satellite network running across 365,000+ RKMs in 50 countries and 5 continents, we are pushing the boundaries in digital service delivery with a key focus on enhanced end-user experience, round-the-clock infrastructure availability, and superior service quality.

</div>
